body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1280px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:240px;
}
#u3417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:1280px;
  height:240px;
  display:flex;
}
#u3417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1280px;
  height:40px;
  display:flex;
}
#u3419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:0px 8px 8px rgba(0, 0, 0, 0.0431372549019608);
  -webkit-box-shadow:0px 8px 8px rgba(0, 0, 0, 0.0431372549019608);
  box-shadow:0px 8px 8px rgba(0, 0, 0, 0.0431372549019608);
}
#u3420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:60px;
  display:flex;
}
#u3420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3421 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:71px;
  width:524px;
  height:19px;
  display:flex;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3421 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3421_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:25px;
}
#u3428 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:18px;
  width:220px;
  height:25px;
  display:flex;
}
#u3428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3429 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:18px;
  width:104px;
  height:16px;
  display:flex;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3429 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3429_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 117, 190, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0075BE;
  line-height:15px;
}
#u3431 {
  border-width:0px;
  position:absolute;
  left:1117px;
  top:14px;
  width:94px;
  height:24px;
  display:flex;
  color:#0075BE;
  line-height:15px;
}
#u3431 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3431_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u3432 {
  border-width:0px;
  position:absolute;
  left:1127px;
  top:20px;
  width:13px;
  height:13px;
  display:flex;
}
#u3432 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3432_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3433 {
  border-width:0px;
  position:absolute;
  left:1148px;
  top:18px;
  width:49px;
  height:16px;
  display:flex;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u3433 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3433_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:50px;
}
#u3434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:1280px;
  height:50px;
  display:flex;
}
#u3434 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3434_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:26px;
}
#u3435 {
  border-width:0px;
  position:absolute;
  left:1098px;
  top:352px;
  width:112px;
  height:26px;
  display:flex;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:26px;
}
#u3435 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3435_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:1370px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3437 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:390px;
  width:1280px;
  height:1370px;
  display:flex;
  font-size:14px;
}
#u3437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1170px;
  height:1270px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3439 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:410px;
  width:1170px;
  height:1270px;
  display:flex;
}
#u3439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:1122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-style:normal;
  line-height:22px;
}
#u3440 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:450px;
  width:770px;
  height:1122px;
  display:flex;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-style:normal;
  line-height:22px;
}
#u3440 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:380px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1760px;
  width:1280px;
  height:380px;
  display:flex;
}
#u3442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:304px;
}
#u3443 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1760px;
  width:1280px;
  height:304px;
  display:flex;
}
#u3443 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3443_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3444 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2060px;
  width:1280px;
  height:80px;
  display:flex;
}
#u3444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:30px;
}
#u3445 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:1866px;
  width:340px;
  height:90px;
  display:flex;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:right;
  line-height:30px;
}
#u3445 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3445_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:32px;
}
#u3447 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:1870px;
  width:390px;
  height:128px;
  display:flex;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:32px;
}
#u3447 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3447_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:24px;
}
#u3448 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:1824px;
  width:203px;
  height:24px;
  display:flex;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  line-height:24px;
}
#u3448 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3448_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u3449 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:1826px;
  width:19px;
  height:19px;
  display:flex;
}
#u3449 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3449_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:1px;
}
#u3450 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:1835px;
  width:210px;
  height:1px;
  display:flex;
}
#u3450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u3451 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:2088px;
  width:220px;
  height:24px;
  display:flex;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u3451 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3451_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u3452 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:2088px;
  width:140px;
  height:24px;
  display:flex;
  font-family:'MicrosoftJhengHeiRegular', 'Microsoft JhengHei', sans-serif;
  font-weight:400;
  font-style:normal;
  line-height:24px;
}
#u3452 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3452_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3457_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-2px;
  width:169px;
  height:47px;
}
#u3457 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:178px;
  width:157px;
  height:35px;
  display:flex;
  font-family:'MicrosoftJhengHeiBold', 'Microsoft JhengHei Bold', 'Microsoft JhengHei', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
  text-align:center;
}
#u3457 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3457_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:1px;
}
#u3458 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:195px;
  width:120px;
  height:1px;
  display:flex;
}
#u3458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:1px;
}
#u3459 {
  border-width:0px;
  position:absolute;
  left:412px;
  top:195px;
  width:120px;
  height:1px;
  display:flex;
}
#u3459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3460 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.203921568627451);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3461 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:233px;
  width:150px;
  height:30px;
  display:flex;
}
#u3461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3462_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.5px;
  color:#FFFFFF;
  text-align:center;
}
#u3462 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:238px;
  width:74px;
  height:20px;
  display:flex;
  font-family:'PingFangTC-Regular', 'PingFang TC', sans-serif;
  font-weight:400;
  font-style:normal;
  letter-spacing:0.5px;
  color:#FFFFFF;
  text-align:center;
}
#u3462 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3462_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
